## Manipulating Columns in PySpark

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('spark_app_3').master('local[*]').getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.csv('car_price_dataset.csv', header=True, inferSchema=True)

In [5]:
df.show(5)

+----------+------+----+-----------+---------+--------------+-------+-----+-----------+-----+
|     Brand| Model|Year|Engine_Size|Fuel_Type|  Transmission|Mileage|Doors|Owner_Count|Price|
+----------+------+----+-----------+---------+--------------+-------+-----+-----------+-----+
|       Kia|   Rio|2020|        4.2|   Diesel|        Manual| 289944|    3|          5| 8501|
| Chevrolet|Malibu|2012|        2.0|   Hybrid|     Automatic|   5356|    2|          3|12092|
|  Mercedes|   GLA|2020|        4.2|   Diesel|     Automatic| 231440|    4|          2|11171|
|      Audi|    Q5|2023|        2.0| Electric|        Manual| 160971|    2|          1|11780|
|Volkswagen|  Golf|2003|        2.6|   Hybrid|Semi-Automatic| 286618|    3|          3| 2867|
+----------+------+----+-----------+---------+--------------+-------+-----+-----------+-----+
only showing top 5 rows

In [6]:
from pyspark.sql.functions import lit, rand
# lit: It basically creates a column and assigins value to that column
# docs: 
df = df.withColumn('new_price', lit(df.Price+((18/100)*df.Price)))
df.show(5)

+----------+------+----+-----------+---------+--------------+-------+-----+-----------+-----+---------+
|     Brand| Model|Year|Engine_Size|Fuel_Type|  Transmission|Mileage|Doors|Owner_Count|Price|new_price|
+----------+------+----+-----------+---------+--------------+-------+-----+-----------+-----+---------+
|       Kia|   Rio|2020|        4.2|   Diesel|        Manual| 289944|    3|          5| 8501| 10031.18|
| Chevrolet|Malibu|2012|        2.0|   Hybrid|     Automatic|   5356|    2|          3|12092| 14268.56|
|  Mercedes|   GLA|2020|        4.2|   Diesel|     Automatic| 231440|    4|          2|11171| 13181.78|
|      Audi|    Q5|2023|        2.0| Electric|        Manual| 160971|    2|          1|11780|  13900.4|
|Volkswagen|  Golf|2003|        2.6|   Hybrid|Semi-Automatic| 286618|    3|          3| 2867|  3383.06|
+----------+------+----+-----------+---------+--------------+-------+-----+-----------+-----+---------+
only showing top 5 rows

In [7]:
 # Drop a column
df.drop('Price').show()

+----------+--------+----+-----------+---------+--------------+-------+-----+-----------+---------+
|     Brand|   Model|Year|Engine_Size|Fuel_Type|  Transmission|Mileage|Doors|Owner_Count|new_price|
+----------+--------+----+-----------+---------+--------------+-------+-----+-----------+---------+
|       Kia|     Rio|2020|        4.2|   Diesel|        Manual| 289944|    3|          5| 10031.18|
| Chevrolet|  Malibu|2012|        2.0|   Hybrid|     Automatic|   5356|    2|          3| 14268.56|
|  Mercedes|     GLA|2020|        4.2|   Diesel|     Automatic| 231440|    4|          2| 13181.78|
|      Audi|      Q5|2023|        2.0| Electric|        Manual| 160971|    2|          1|  13900.4|
|Volkswagen|    Golf|2003|        2.6|   Hybrid|Semi-Automatic| 286618|    3|          3|  3383.06|
|    Toyota|   Camry|2007|        2.7|   Petrol|     Automatic| 157889|    4|          4|  8545.56|
|     Honda|   Civic|2010|        3.4| Electric|     Automatic| 139584|    3|          1| 13225.44|
|       Kia|Sportage|2001|        4.7| Electric|Semi-Automatic| 157495|    2|          2|   9381.0|
|       Kia|Sportage|2014|        2.6|   Hybrid|        Manual|  98700|    3|          4| 11712.68|
|    Toyota|    RAV4|2005|        3.1|   Petrol|        Manual| 107724|    2|          5|   7723.1|
|       BMW|5 Series|2013|        1.3|   Hybrid|     Automatic| 296824|    2|          3|  6918.34|
|Volkswagen|    Golf|2009|        4.5|   Hybrid|        Manual|  42795|    4|          3| 13503.92|
|     Honda|    CR-V|2007|        4.8|   Hybrid|     Automatic| 132875|    3|          4| 12793.56|
|   Hyundai| Elantra|2004|        2.3|   Hybrid|Semi-Automatic| 188996|    2|          1|   5687.6|
|Volkswagen|    Golf|2003|        2.4|   Petrol|     Automatic| 145921|    5|          2|  7057.58|
|Volkswagen|    Golf|2007|        3.2|   Diesel|     Automatic|  60103|    2|          1| 11442.46|
|   Hyundai| Elantra|2017|        2.9| Electric|     Automatic|  38133|    5|          2| 17507.66|
|Volkswagen|  Tiguan|2006|        4.5| Electric|        Manual|  41161|    2|          2| 13659.68|
|       Kia|     Rio|2000|        3.4|   Diesel|Semi-Automatic| 257427|    3|          3|  2774.18|
|  Mercedes|     GLA|2021|        1.5|   Petrol|        Manual|  34640|    2|          1| 13224.26|
+----------+--------+----+-----------+---------+--------------+-------+-----+-----------+---------+
only showing top 20 rows