In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkAPP').getOrCreate()  
# df = spark.sql('''select 'spark' as hello ''')  
# df.show()
spark.sparkContext.setLogLevel('WARN')
spark

In [4]:
gooddf = spark.read.csv("goods_classification.csv", inferSchema = True, header = True)
gooddf.show()

+---+------+--------------------+--------------------+
| Id|ref no|                Name|            category|
+---+------+--------------------+--------------------+
|101|     1|Horses, asses, mu...|       Animals; live|
|102|     1|Bovine animals; live|       Animals; live|
|103|     1|         Swine; live|       Animals; live|
|104|     1|Sheep and goats; ...|       Animals; live|
|105|     1|Poultry; live, fo...|       Animals; live|
|106|     1|Animals; live, n....|       Animals; live|
|201|     2|Meat of bovine an...|Meat and edible m...|
|202|     2|Meat of bovine an...|Meat and edible m...|
|203|     2|Meat of swine; fr...|Meat and edible m...|
|204|     2|Meat of sheep or ...|Meat and edible m...|
|205|     2|Meat; of horses, ...|Meat and edible m...|
|206|     2|Edible offal of b...|Meat and edible m...|
|207|     2|Meat and edible o...|Meat and edible m...|
|208|     2|Meat and edible m...|Meat and edible m...|
|209|     2|Pig fat, free of ...|Meat and edible m...|
|210|     2|Meat and edible m...|Meat and edible m...|
|301|     3|          Fish; live|Fish and crustace...|
|302|     3|Fish; fresh or ch...|Fish and crustace...|
|303|     3|Fish; frozen, exc...|Fish and crustace...|
|304|     3|Fish fillets and ...|Fish and crustace...|
+---+------+--------------------+--------------------+
only showing top 20 rows

In [3]:
gooddf.filter(gooddf['ref no']==1).show()

+---+------+--------------------+-------------+
| Id|ref no|                Name|     category|
+---+------+--------------------+-------------+
|101|     1|Horses, asses, mu...|Animals; live|
|102|     1|Bovine animals; live|Animals; live|
|103|     1|         Swine; live|Animals; live|
|104|     1|Sheep and goats; ...|Animals; live|
|105|     1|Poultry; live, fo...|Animals; live|
|106|     1|Animals; live, n....|Animals; live|
+---+------+--------------------+-------------+

In [4]:
gooddf.groupBy('ref no').count().show()

+------+-----+
|ref no|count|
+------+-----+
|     7|   14|
|    51|   13|
|    15|   21|
|    54|    8|
|    11|    9|
|    29|   42|
|    69|   14|
|    42|    6|
|    73|   26|
|    87|   16|
|    64|    6|
|     3|    8|
|    30|    6|
|    34|    7|
|    59|   11|
|     8|   14|
|    22|    9|
|    28|   53|
|    85|   48|
|    16|    5|
+------+-----+
only showing top 20 rows

In [5]:
print(gooddf.groupBy('ref no').count().count())

100

In [6]:
gooddf.count()

1268

In [7]:
gooddf.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- ref no: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- category: string (nullable = true)

In [8]:
df = spark.sql('''select 'spark' as hello ''')

In [9]:
df

DataFrame[hello: string]

In [10]:
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [11]:
gooddf.select(['category', 'ref no']).orderBy(gooddf.Name.desc()).show()

+--------------------+------+
|            category|ref no|
+--------------------+------+
|Metals; n.e.c., c...|    81|
|Zinc and articles...|    79|
|Zinc and articles...|    79|
|Zinc and articles...|    79|
|Zinc and articles...|    79|
|Inorganic chemica...|    28|
|Zinc and articles...|    79|
|Zinc and articles...|    79|
|Zinc and articles...|    79|
|  Ores, slag and ash|    26|
|Miscellaneous edi...|    21|
|Wadding, felt and...|    56|
|                Silk|    50|
|Wool, fine or coa...|    51|
|Vegetable textile...|    53|
|Vegetable textile...|    53|
|Wool, fine or coa...|    51|
|Wool, fine or coa...|    51|
|Wool, fine or coa...|    51|
|Wool, fine or coa...|    51|
+--------------------+------+
only showing top 20 rows

In [12]:
gooddf.rdd

MapPartitionsRDD[53] at javaToPython at NativeMethodAccessorImpl.java:0

In [13]:
temp_table = gooddf.createOrReplaceTempView('goods_classification')
result = spark.sql('select * from goods_classification where name ilike \'%horse%\'')
result.show()

+----+------+--------------------+--------------------+
|  Id|ref no|                Name|            category|
+----+------+--------------------+--------------------+
| 101|     1|Horses, asses, mu...|       Animals; live|
| 205|     2|Meat; of horses, ...|Meat and edible m...|
| 206|     2|Edible offal of b...|Meat and edible m...|
| 503|     5|Horsehair and hor...|Animal originated...|
|5110|    51|Yarn of coarse an...|Wool, fine or coa...|
|5113|    51|Woven fabrics of ...|Wool, fine or coa...|
|5606|    56|Yarn and strip an...|Wadding, felt and...|
+----+------+--------------------+--------------------+

In [14]:
gooddf.write.mode('overwrite').saveAsTable('goods_classification')

In [15]:
permanent_result = spark.sql('select * from goods_classification order by Id asc')

In [16]:
permanent_result.show()

+----+------+--------------------+--------------------+
|  Id|ref no|                Name|            category|
+----+------+--------------------+--------------------+
|NULL|    XX|                NULL|         Total goods|
|NULL|     0|                NULL|Total goods - cou...|
| 101|     1|Horses, asses, mu...|       Animals; live|
| 102|     1|Bovine animals; live|       Animals; live|
| 103|     1|         Swine; live|       Animals; live|
| 104|     1|Sheep and goats; ...|       Animals; live|
| 105|     1|Poultry; live, fo...|       Animals; live|
| 106|     1|Animals; live, n....|       Animals; live|
| 201|     2|Meat of bovine an...|Meat and edible m...|
| 202|     2|Meat of bovine an...|Meat and edible m...|
| 203|     2|Meat of swine; fr...|Meat and edible m...|
| 204|     2|Meat of sheep or ...|Meat and edible m...|
| 205|     2|Meat; of horses, ...|Meat and edible m...|
| 206|     2|Edible offal of b...|Meat and edible m...|
| 207|     2|Meat and edible o...|Meat and edible m...|
| 208|     2|Meat and edible m...|Meat and edible m...|
| 209|     2|Pig fat, free of ...|Meat and edible m...|
| 210|     2|Meat and edible m...|Meat and edible m...|
| 301|     3|          Fish; live|Fish and crustace...|
| 302|     3|Fish; fresh or ch...|Fish and crustace...|
+----+------+--------------------+--------------------+
only showing top 20 rows

In [17]:
see_tables = spark.sql('show tables;')

In [18]:
see_tables.show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|  default|goods_classification|      false|
|         |goods_classification|       true|
+---------+--------------------+-----------+

In [19]:
# Creating table 2
gooddf.write.mode('overwrite').saveAsTable('goods_classification_2')

In [20]:
t_2_data = spark.sql('select * from goods_classification_2')
t_2_data.show()

+---+------+--------------------+--------------------+
| Id|ref no|                Name|            category|
+---+------+--------------------+--------------------+
|101|     1|Horses, asses, mu...|       Animals; live|
|102|     1|Bovine animals; live|       Animals; live|
|103|     1|         Swine; live|       Animals; live|
|104|     1|Sheep and goats; ...|       Animals; live|
|105|     1|Poultry; live, fo...|       Animals; live|
|106|     1|Animals; live, n....|       Animals; live|
|201|     2|Meat of bovine an...|Meat and edible m...|
|202|     2|Meat of bovine an...|Meat and edible m...|
|203|     2|Meat of swine; fr...|Meat and edible m...|
|204|     2|Meat of sheep or ...|Meat and edible m...|
|205|     2|Meat; of horses, ...|Meat and edible m...|
|206|     2|Edible offal of b...|Meat and edible m...|
|207|     2|Meat and edible o...|Meat and edible m...|
|208|     2|Meat and edible m...|Meat and edible m...|
|209|     2|Pig fat, free of ...|Meat and edible m...|
|210|     2|Meat and edible m...|Meat and edible m...|
|301|     3|          Fish; live|Fish and crustace...|
|302|     3|Fish; fresh or ch...|Fish and crustace...|
|303|     3|Fish; frozen, exc...|Fish and crustace...|
|304|     3|Fish fillets and ...|Fish and crustace...|
+---+------+--------------------+--------------------+
only showing top 20 rows

In [21]:
joined_data = spark.sql('select * from goods_classification gg inner join goods_classification_2 gg2 on gg.Id=gg2.Id')
joined_data.show()

+---+------+--------------------+--------------------+---+------+--------------------+--------------------+
| Id|ref no|                Name|            category| Id|ref no|                Name|            category|
+---+------+--------------------+--------------------+---+------+--------------------+--------------------+
|101|     1|Horses, asses, mu...|       Animals; live|101|     1|Horses, asses, mu...|       Animals; live|
|102|     1|Bovine animals; live|       Animals; live|102|     1|Bovine animals; live|       Animals; live|
|103|     1|         Swine; live|       Animals; live|103|     1|         Swine; live|       Animals; live|
|104|     1|Sheep and goats; ...|       Animals; live|104|     1|Sheep and goats; ...|       Animals; live|
|105|     1|Poultry; live, fo...|       Animals; live|105|     1|Poultry; live, fo...|       Animals; live|
|106|     1|Animals; live, n....|       Animals; live|106|     1|Animals; live, n....|       Animals; live|
|201|     2|Meat of bovine an...|Meat and edible m...|201|     2|Meat of bovine an...|Meat and edible m...|
|202|     2|Meat of bovine an...|Meat and edible m...|202|     2|Meat of bovine an...|Meat and edible m...|
|203|     2|Meat of swine; fr...|Meat and edible m...|203|     2|Meat of swine; fr...|Meat and edible m...|
|204|     2|Meat of sheep or ...|Meat and edible m...|204|     2|Meat of sheep or ...|Meat and edible m...|
|205|     2|Meat; of horses, ...|Meat and edible m...|205|     2|Meat; of horses, ...|Meat and edible m...|
|206|     2|Edible offal of b...|Meat and edible m...|206|     2|Edible offal of b...|Meat and edible m...|
|207|     2|Meat and edible o...|Meat and edible m...|207|     2|Meat and edible o...|Meat and edible m...|
|208|     2|Meat and edible m...|Meat and edible m...|208|     2|Meat and edible m...|Meat and edible m...|
|209|     2|Pig fat, free of ...|Meat and edible m...|209|     2|Pig fat, free of ...|Meat and edible m...|
|210|     2|Meat and edible m...|Meat and edible m...|210|     2|Meat and edible m...|Meat and edible m...|
|301|     3|          Fish; live|Fish and crustace...|301|     3|          Fish; live|Fish and crustace...|
|302|     3|Fish; fresh or ch...|Fish and crustace...|302|     3|Fish; fresh or ch...|Fish and crustace...|
|303|     3|Fish; frozen, exc...|Fish and crustace...|303|     3|Fish; frozen, exc...|Fish and crustace...|
|304|     3|Fish fillets and ...|Fish and crustace...|304|     3|Fish fillets and ...|Fish and crustace...|
+---+------+--------------------+--------------------+---+------+--------------------+--------------------+
only showing top 20 rows

In [22]:
car_dataset = spark.read.csv('data.csv', inferSchema=True, header=True)
car_dataset.show(5)

+---+----------+----------+------+------+---+
| Id|       Car|     Model|Volume|Weight|CO2|
+---+----------+----------+------+------+---+
|  1|    Toyoty|      Aygo|  1000|   790| 99|
|  2|Mitsubishi|Space Star|  1200|  1160| 95|
|  3|     Skoda|    Citigo|  1000|   929| 95|
|  4|      Fiat|       500|   900|   865| 90|
|  5|      Mini|    Cooper|  1500|  1140|105|
+---+----------+----------+------+------+---+
only showing top 5 rows

In [23]:
car_dataset.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- Car: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- CO2: integer (nullable = true)

In [24]:
# saving the data somewhere
car_dataset.write.mode('overwrite').saveAsTable('car_dataset')

In [25]:
car_tbl_data = spark.sql('select * from car_dataset;')

In [26]:
car_tbl_data.show()

+---+----------+----------+------+------+---+
| Id|       Car|     Model|Volume|Weight|CO2|
+---+----------+----------+------+------+---+
|  1|    Toyoty|      Aygo|  1000|   790| 99|
|  2|Mitsubishi|Space Star|  1200|  1160| 95|
|  3|     Skoda|    Citigo|  1000|   929| 95|
|  4|      Fiat|       500|   900|   865| 90|
|  5|      Mini|    Cooper|  1500|  1140|105|
|  6|        VW|       Up!|  1000|   929|105|
|  7|     Skoda|     Fabia|  1400|  1109| 90|
|  8|  Mercedes|   A-Class|  1500|  1365| 92|
|  9|      Ford|    Fiesta|  1500|  1112| 98|
| 10|      Audi|        A1|  1600|  1150| 99|
| 11|   Hyundai|       I20|  1100|   980| 99|
| 12|    Suzuki|     Swift|  1300|   990|101|
| 13|      Ford|    Fiesta|  1000|  1112| 99|
| 14|     Honda|     Civic|  1600|  1252| 94|
| 15|    Hundai|       I30|  1600|  1326| 97|
| 16|      Opel|     Astra|  1600|  1330| 97|
| 17|       BMW|         1|  1600|  1365| 99|
| 18|     Mazda|         3|  2200|  1280|104|
| 19|     Skoda|     Rapid|  1600|  1119|104|
| 20|      Ford|     Focus|  2000|  1328|105|
+---+----------+----------+------+------+---+
only showing top 20 rows

In [27]:
car_group = spark.sql('select Car, count(*) as count, ROUND(AVG(Weight), 2) as average_weight from car_dataset group by Car having AVG(Weight) > 1100 and count(*)>1;')
car_group.show()

+--------+-----+--------------+
|     Car|count|average_weight|
+--------+-----+--------------+
|   Volvo|    3|       1561.33|
|    Audi|    3|        1455.0|
|Mercedes|    5|        1439.0|
|     BMW|    3|       1486.67|
|    Opel|    3|       1387.67|
|   Skoda|    4|        1143.0|
|    Ford|    5|        1274.2|
+--------+-----+--------------+

In [28]:
car_dataset.take(5)

[Row(Id=1, Car='Toyoty', Model='Aygo', Volume=1000, Weight=790, CO2=99),
 Row(Id=2, Car='Mitsubishi', Model='Space Star', Volume=1200, Weight=1160, CO2=95),
 Row(Id=3, Car='Skoda', Model='Citigo', Volume=1000, Weight=929, CO2=95),
 Row(Id=4, Car='Fiat', Model='500', Volume=900, Weight=865, CO2=90),
 Row(Id=5, Car='Mini', Model='Cooper', Volume=1500, Weight=1140, CO2=105)]

In [29]:
car_dataset.filter(car_dataset.Car == 'Mitsubishi').show()

+---+----------+----------+------+------+---+
| Id|       Car|     Model|Volume|Weight|CO2|
+---+----------+----------+------+------+---+
|  2|Mitsubishi|Space Star|  1200|  1160| 95|
+---+----------+----------+------+------+---+

In [30]:
car_dataset.show(5)

+---+----------+----------+------+------+---+
| Id|       Car|     Model|Volume|Weight|CO2|
+---+----------+----------+------+------+---+
|  1|    Toyoty|      Aygo|  1000|   790| 99|
|  2|Mitsubishi|Space Star|  1200|  1160| 95|
|  3|     Skoda|    Citigo|  1000|   929| 95|
|  4|      Fiat|       500|   900|   865| 90|
|  5|      Mini|    Cooper|  1500|  1140|105|
+---+----------+----------+------+------+---+
only showing top 5 rows

In [31]:
car_dataset.filter(car_dataset.Weight > 1160).count()

23

In [32]:
df_sql = spark.sql('select * from car_dataset')

In [33]:
df_sql.show()

+---+----------+----------+------+------+---+
| Id|       Car|     Model|Volume|Weight|CO2|
+---+----------+----------+------+------+---+
|  1|    Toyoty|      Aygo|  1000|   790| 99|
|  2|Mitsubishi|Space Star|  1200|  1160| 95|
|  3|     Skoda|    Citigo|  1000|   929| 95|
|  4|      Fiat|       500|   900|   865| 90|
|  5|      Mini|    Cooper|  1500|  1140|105|
|  6|        VW|       Up!|  1000|   929|105|
|  7|     Skoda|     Fabia|  1400|  1109| 90|
|  8|  Mercedes|   A-Class|  1500|  1365| 92|
|  9|      Ford|    Fiesta|  1500|  1112| 98|
| 10|      Audi|        A1|  1600|  1150| 99|
| 11|   Hyundai|       I20|  1100|   980| 99|
| 12|    Suzuki|     Swift|  1300|   990|101|
| 13|      Ford|    Fiesta|  1000|  1112| 99|
| 14|     Honda|     Civic|  1600|  1252| 94|
| 15|    Hundai|       I30|  1600|  1326| 97|
| 16|      Opel|     Astra|  1600|  1330| 97|
| 17|       BMW|         1|  1600|  1365| 99|
| 18|     Mazda|         3|  2200|  1280|104|
| 19|     Skoda|     Rapid|  1600|  1119|104|
| 20|      Ford|     Focus|  2000|  1328|105|
+---+----------+----------+------+------+---+
only showing top 20 rows

In [34]:
# saving data in text file from a RDD
car_dataset.show()

+---+----------+----------+------+------+---+
| Id|       Car|     Model|Volume|Weight|CO2|
+---+----------+----------+------+------+---+
|  1|    Toyoty|      Aygo|  1000|   790| 99|
|  2|Mitsubishi|Space Star|  1200|  1160| 95|
|  3|     Skoda|    Citigo|  1000|   929| 95|
|  4|      Fiat|       500|   900|   865| 90|
|  5|      Mini|    Cooper|  1500|  1140|105|
|  6|        VW|       Up!|  1000|   929|105|
|  7|     Skoda|     Fabia|  1400|  1109| 90|
|  8|  Mercedes|   A-Class|  1500|  1365| 92|
|  9|      Ford|    Fiesta|  1500|  1112| 98|
| 10|      Audi|        A1|  1600|  1150| 99|
| 11|   Hyundai|       I20|  1100|   980| 99|
| 12|    Suzuki|     Swift|  1300|   990|101|
| 13|      Ford|    Fiesta|  1000|  1112| 99|
| 14|     Honda|     Civic|  1600|  1252| 94|
| 15|    Hundai|       I30|  1600|  1326| 97|
| 16|      Opel|     Astra|  1600|  1330| 97|
| 17|       BMW|         1|  1600|  1365| 99|
| 18|     Mazda|         3|  2200|  1280|104|
| 19|     Skoda|     Rapid|  1600|  1119|104|
| 20|      Ford|     Focus|  2000|  1328|105|
+---+----------+----------+------+------+---+
only showing top 20 rows

In [36]:
# Saving dataset in text file
car_dataset.rdd.saveAsTextFile("classification")
car_dataset.rdd.map(lambda row: ",".join(str(x) for x in row)).saveAsTextFile("classification2")

In [37]:
retr_df = spark.read.text('classification')
retr_df.show()

+--------------------+
|               value|
+--------------------+
|Row(Id=1, Car='To...|
|Row(Id=2, Car='Mi...|
|Row(Id=3, Car='Sk...|
|Row(Id=4, Car='Fi...|
|Row(Id=5, Car='Mi...|
|Row(Id=6, Car='VW...|
|Row(Id=7, Car='Sk...|
|Row(Id=8, Car='Me...|
|Row(Id=9, Car='Fo...|
|Row(Id=10, Car='A...|
|Row(Id=11, Car='H...|
|Row(Id=12, Car='S...|
|Row(Id=13, Car='F...|
|Row(Id=14, Car='H...|
|Row(Id=15, Car='H...|
|Row(Id=16, Car='O...|
|Row(Id=17, Car='B...|
|Row(Id=18, Car='M...|
|Row(Id=19, Car='S...|
|Row(Id=20, Car='F...|
+--------------------+
only showing top 20 rows

In [38]:
car_dataset.show(3)

+---+----------+----------+------+------+---+
| Id|       Car|     Model|Volume|Weight|CO2|
+---+----------+----------+------+------+---+
|  1|    Toyoty|      Aygo|  1000|   790| 99|
|  2|Mitsubishi|Space Star|  1200|  1160| 95|
|  3|     Skoda|    Citigo|  1000|   929| 95|
+---+----------+----------+------+------+---+
only showing top 3 rows

In [39]:
# Aggregations using Pyspark
from pyspark.sql.functions import sum, min, max, avg
car_dataset.select(
    sum('Volume').alias('volumeSum'),
    min('Weight').alias('minimumWeight'),
    avg('CO2').alias('avergeCO2Level')
).show()

+---------+-------------+------------------+
|volumeSum|minimumWeight|    avergeCO2Level|
+---------+-------------+------------------+
|    58000|          790|102.02777777777777|
+---------+-------------+------------------+

In [ ]:
# Group by usecases using pyspark
car_dataset.groupBy('Car').agg(
    sum('Volume').alias('VolumeByCarSUM'),
    avg('Weight').alias('AverageWeight'),
    max('CO2').alias('MaxCo2')
).show()

In [40]:
# Group By with condition
car_dataset.groupBy('Car').agg(
    avg('Volume').alias('AvgVolume'),
    max('Weight').alias('MaxWeight'),
    min('CO2').alias('MinCO2')
).filter('`AvgVolume` > 1100').show()

+----------+------------------+---------+------+
|       Car|         AvgVolume|MaxWeight|MinCO2|
+----------+------------------+---------+------+
|Mitsubishi|            1200.0|     1160|    95|
|      Mini|            1500.0|     1140|   105|
|     Volvo|1866.6666666666667|     1746|    99|
|     Honda|            1600.0|     1252|    94|
|      Audi|1866.6666666666667|     1725|    99|
|  Mercedes|            1940.0|     1605|    92|
|       BMW|1733.3333333333333|     1705|    99|
|    Suzuki|            1300.0|      990|   101|
|    Hundai|            1600.0|     1326|    97|
|      Opel|1733.3333333333333|     1428|    97|
|     Skoda|            1400.0|     1415|    90|
|     Mazda|            2200.0|     1280|   104|
|      Ford|            1540.0|     1584|    94|
+----------+------------------+---------+------+

***Roll Up Usecases***
- rollup() is useful for computing subtotals and grand totals.

In [41]:
car_dataset.rollup('Car').agg(
    avg('Volume').alias('AverageVolume')
).show()

+----------+------------------+
|       Car|     AverageVolume|
+----------+------------------+
|      Ford|            1540.0|
|Mitsubishi|            1200.0|
|    Toyoty|            1000.0|
|     Volvo|1866.6666666666667|
|      Fiat|             900.0|
|      Opel|1733.3333333333333|
|      NULL| 1611.111111111111|
|       BMW|1733.3333333333333|
|     Skoda|            1400.0|
|    Hundai|            1600.0|
|      Audi|1866.6666666666667|
|        VW|            1000.0|
|     Honda|            1600.0|
|      Mini|            1500.0|
|     Mazda|            2200.0|
|   Hyundai|            1100.0|
|  Mercedes|            1940.0|
|    Suzuki|            1300.0|
+----------+------------------+

In [43]:
# Converting df to paraquet
car_dataset.write.parquet('parquet/cardataset.parquet')